.container {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}

.card {
  height: 100vh;
  background: #EDEDED;
}

.form {
  padding-top: 20vh;
  width: 30rem;
  display: block;
  margin: 0 auto;
}